// import variables
@import "variables";

header {
    user-select: none;
    background-color: $color-primary;
    text-align: center;
    padding: 2rem;
    color: $white;
    margin-bottom: 2rem;
}