// import variables
@import "variables";

main {
    nav {
        ul {
            li {
                margin-bottom: 1.5rem;
                a {
                    border: 2px solid $color-primary;
                    margin-bottom: .4rem !important;
                    background-color: $color-primary;
                    color: $white;
                    transition: all 350ms linear;
                    font-weight: $bold;
                    &:hover, &:active {
                        background-color: $white;
                        color: $color-primary;
                    }
                }

                p {
                    .install {
                        background-color: $bg-color-small;
                        padding: 5px;
                        color: $text-color;
                        font-weight: $bold;
                    }
                }
            }
        }
    }
}